attrs==26.1.0
auditwheel==6.6.0
cffi==2.0.0
importlib-metadata==9.0.0
more-itertools==11.0.2
packaging==26.2
pluggy==1.6.0
pycparser==3.0
pyelftools==0.32
pyparsing==3.3.2
pytest==9.0.3
setuptools==82.0.1
six==1.17.0
wcwidth==0.7.0
zipp==3.23.1
